.section {
    margin:0;
    padding: 0 ;
    font-family: sans-serif;
}

.textContainer {
    position: relative;
    margin: auto;
    height: 50px;
    width:320px;
}


.text {
    text-transform: uppercase;
    background: url(./bgImg.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.big-text {
    opacity: 0.2;
    font-size: 50px;
    letter-spacing: 10px;
}

.small-text {
    font-size: 25px;
    letter-spacing: 10px;
}

@media (min-width: 576px) { 
    .textContainer {
        height: 100px;
        width:576px;
    }

    .big-text {
        opacity: 0.2;
        font-size: 100px;
        letter-spacing: 10px;
    }
    
    .small-text {
        font-size: 50px;
        letter-spacing: 10px;
    }
 }

 @media (min-width: 768px) { 
    .textContainer {
        height: 125px;
        width:768px;
    }

    .big-text {
        opacity: 0.2;
        font-size: 135px;
        letter-spacing: 15px;
    }

    .small-text {
        font-size: 65px;
        letter-spacing: 15px;
    } 
}

@media (min-width: 992px) { 
    .textContainer {
        height: 150px;
        width:992px;
    }

    .big-text {
        opacity: 0.2;
        font-size: 175px;
        letter-spacing: 20px;
    }

    .small-text {
        font-size: 90px;
        letter-spacing: 20px;
    } 
 }

 @media (min-width: 1200px) { 
    .textContainer {
        height: 150px;
        width:1200px;
    }

    .big-text {
        opacity: 0.2;
        font-size: 200px;
        letter-spacing: 30px;
    }

    .small-text {
        font-size: 100px;
        letter-spacing: 30px;
    } 
  }

  @media (min-width: 1600px) { 
    .textContainer {
        height: 200px;
        width:1600px;
    }

    .big-text {
        opacity: 0.2;
        font-size: 250px;
        letter-spacing: 55px;
    }

    .small-text {
        font-size: 125px;
        letter-spacing: 55px;
    } 
  }